Note that this Notebook isn't quite done yet... I had to fix something in the prices package that isn't quite ready!

In [1]:
import prices
import fitmodels

In [2]:
help(fitmodels)

Help on module fitmodels:

NAME
    fitmodels

FUNCTIONS
    area(*args)

    areaFront(*args)

    areaFront_nesterov(*args)

    area_nesterov(*args)

FILE
    c:\users\twwilko\documents\python scripts\acm 612\git repo\intro2dsa\project 1\fitmodels.py

In [13]:
dataTestFeatures=prices.pd.read_csv("DATA/test.csv")

# Replace NaN values with the mean of not-NaN values
indexNaN=prices.np.isnan(dataTest['LotFrontage'])
replaceNaN=prices.np.array(dataTest['LotFrontage'][-indexNaN].mean()).round()
columnNaN=dataTest['LotFrontage'].values

columnNaN[indexNaN] = replaceNaN
dataTestFeatures['LotFrontage']=columnNaN

del(indexNaN,replaceNaN,columnNaN)
dataTestFeatures[:10]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
5,1466,60,RL,75.0,10000,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2010,WD,Normal
6,1467,20,RL,69.0,7980,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,GdPrv,Shed,500,3,2010,WD,Normal
7,1468,60,RL,63.0,8402,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2010,WD,Normal
8,1469,20,RL,85.0,10176,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2010,WD,Normal
9,1470,20,RL,70.0,8400,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,4,2010,WD,Normal

In [11]:
dataTestLabels=prices.pd.read_csv("DATA/sample_submission.csv")
dataTestLabels[:10]

     Id      SalePrice
0  1461  169277.052498
1  1462  187758.393989
2  1463  183583.683570
3  1464  179317.477511
4  1465  150730.079977
5  1466  177150.989247
6  1467  172070.659229
7  1468  175110.956520
8  1469  162011.698832
9  1470  160726.247831

In [19]:
dataTest=dataTestLabels.set_index('Id').join(dataTestFeatures.set_index('Id'))[['LotArea','LotFrontage','SalePrice']]
dataTest[:10]

      LotArea  LotFrontage      SalePrice
Id
1461    11622         80.0  169277.052498
1462    14267         81.0  187758.393989
1463    13830         74.0  183583.683570
1464     9978         78.0  179317.477511
1465     5005         43.0  150730.079977
1466    10000         75.0  177150.989247
1467     7980         69.0  172070.659229
1468     8402         63.0  175110.956520
1469    10176         85.0  162011.698832
1470     8400         70.0  160726.247831

In [20]:
predArea=fitmodels.area(dataTest['LotArea'].values)
predArea

array([20615.86879849, 20615.86879849, 20615.86879849, ...,
       20615.86879849, 20615.86879849, 20615.86879849])

In [23]:

dataTest['LotArea'].values

array([11622, 14267, 13830, ..., 20000, 10441,  9627], dtype=int64)

In [34]:
args=[dataTest['LotArea'].values]
res=prices.np.zeros(len(args[0]))
print(res)
weights=[20000,6]
if len(weights)==len(args)+1:
    for x in range(1,len(args)):
        print(x)
        res+=weights[x]*args[x-1]
        print(res)
    res+=weights[0]
    print(res)
res

[0. 0. 0. ... 0. 0. 0.]
[20000. 20000. 20000. ... 20000. 20000. 20000.]

array([20000., 20000., 20000., ..., 20000., 20000., 20000.])

In [33]:
weights[1]

6

In [31]:
args[0]

array([11622, 14267, 13830, ..., 20000, 10441,  9627], dtype=int64)

In [37]:
list(range(1,len(args)+1))

[1]